:root {
  --md-primary-fg-color: #5277C3;
  --md-primary-fg-color--light: #7EBAE4;
  --md-primary-fg-color--dark: #3D5A96;
  --md-accent-fg-color: #7EBAE4;
}

[data-md-color-scheme="slate"] {
  --md-primary-fg-color: #7EBAE4;
  --md-accent-fg-color: #7EBAE4;
}

.md-header {
  background-color: var(--md-primary-fg-color);
}
